<app-header></app-header>
<div class="main container">
	<div class="row">
		<div class="col">
			<h2>Example</h2>
			<hr>
      <!--  Add the component selector to use it in the template. -->
			<app-user></app-user>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h2>Description</h2>
			<hr>
			<markdown path="/assets/desc.md"></markdown>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h2>Links</h2>
			<hr>
			<markdown path="/assets/links.md"></markdown>
		</div>
	</div>
</div>
<app-footer></app-footer>